name: wow

on:
  push:
    branches: [main, test-action]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: Yanqiao4396/BranchWrite
          ref: test-action
      
      - name: echo
        run: echo "hello"
      
      - name: ls
        run: ls -a

      - name: Run custom action
        uses: ./.github/actions
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          branch: insight
          destination-path: cool/insight.json
          source: content
          content: hello from action
            
