name: wow

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
          - name: Checkout code
            uses: actions/checkout@v2
          
          - name: echo
            run: echo "hello"

          - name: Run custom action
            uses: ./.github/action.yml
            with:
              branch: insight
              destination_path: cool/insight.json
              source: content
              content: hello from action
            
